body {
    overflow: auto;
    background-color:#fff;
     /* background-color:#B7A7C1;   */
     /* overflow-x: hidden; */ 
     /* width:100%;  
     margin: 0; */
font-family: 'Noto Sans', sans-serif;

    position: relative;
    
   

 } 
 body.no-scroll {
     overflow: hidden;
 }
 
 * {
     box-sizing: border-box; 
 }
 /* img {
     max-width: 100%;
     height: auto;
 } */
 .container::after {
     content:'';
     display:block;
     clear: both;
 }
 .container {
     max-width:1270px;
     margin: 0 auto;
     display:block;
     padding:0 20px;
     position: relative;
     @mixin atLarge {
         padding:0;
     }
     &--testimonials {}
 }
 .container--header {
  
     padding: 0 12px;
   
     
 }
 .container--footer {
    max-width:1270px;
    display:flex;
     
 }

 .model {
     width:100%;
     height:600px;
     display:block;
     background-color:transparent;
     margin: 0 auto;
     background-color:#fff;
     
 }

 /* only for validation reasons */ 
 img[src="about:blank"] {opacity: 0} 
h5.disclaimer {
    color:orange;
    font-size:18pt;
    text-align:center;
}
h3.disclaimer2 {
color:#fff;
font-weight:500;
text-align:center;
font-size:16pt;
}
.lor_section {
    font-size:22px;
    @mixin atMedium {
        font-size:24px;
    }
}
.lor_wrapper {
    max-width:977px;
    margin:0 auto;
    padding:5px;
}

.items-wrapper {
    margin:0 auto;
    max-width:977px;
    p {
        font-size:24px;
    }
}
.schema-wrapper {
    max-width:1280px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom:50px;
}
.sleepy {
    margin: 0 auto;
    display:block;
    margin-bottom:50px;
}