body {
    overflow: auto;
    background-color:#fff;
     /* background-color:#B7A7C1;   */
     /* overflow-x: hidden; */ 
     /* width:100%;  
     margin: 0; */
    font-family: 'Noto Sans', sans-serif;
    /* position: relative; */
 } 
 body.no-scroll {
     overflow: hidden;
 }
 
 * {
     box-sizing: border-box; 
 }
 /* img {
     max-width: 100%;
     height: auto;
 } */
 .container::after {
     content:'';
     display:block;
     clear: both;
 }
 .container {
     max-width:1270px;
     margin: 0 auto;
     display:block;
     padding:0 20px;
     position: relative;
     @mixin atLarge {
         padding:0;
     }
     &--testimonials {}
 }
 .container--header {
  
     padding: 0 12px;
   
     
 }
 .container--footer {
    max-width:1270px;
    display:flex;
     
 }

 .model {
     width:100%;
     height:600px;
     display:block;
     background-color:transparent;
     margin: 0 auto;
     background-color:#fff;
     
 }

 /* only for validation reasons */ 
 img[src="about:blank"] {opacity: 0} 
h5.disclaimer {
    color:orange;
    font-size:18pt;
    text-align:center;
}
h3.disclaimer2 {
color:#fff;
font-weight:500;
text-align:center;
font-size:16pt;
}
.lor_section {
    font-size:22px;
    @mixin atMedium {
        font-size:24px;
    }
}
.lor_wrapper {
    max-width:977px;
    margin:0 auto;
    padding:5px;
}

.items-wrapper {
    margin:0 auto;
    max-width:977px;
    p {
        font-size:24px;
    }
}
.schema-wrapper {
    max-width:1280px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom:50px;
}
.sleepy {
    margin: 0 auto;
    display:block;
    margin-bottom:50px;
}
#webgl {
    width:100vw;
    height:100vh;
    overflow: hidden;
    /* position: absolute;
    top:0;
    left:0;
    z-index: 99;
    width:100vw;
    height:100vh; */
}

.overlay {
    position: absolute;
    left:0;
    top:0;
}
#cowbell {
    width:300px;
    
}
.slider {
  -webkit-appearance: none;
  width: 300px;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  box-shadow: 3px 2px 2px grey inset;
 
  transform-origin: center;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
    border-radius: 50%;
    box-shadow:0 1px 3px 2px black;
    background-color:#555;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
   border-radius: 50%;
     box-shadow:0 1px 3px 2px black;
  background-color:#555;
  cursor: pointer;
}