/* @font-face { font-family: Gotham; src: url('/../../assets/fonts/GothamLight.ttf'); }  
@font-face { font-family: Gotham; font-weight: 600; src: url('GothamBold.ttf'); } 
@font-face { font-family: Gotham; font-weight: 400; src: url('GothamLight.ttf'); }  */

@font-face { font-family: Avenir; src: url('/../../assets/fonts/AvenirNextCyr-Regular.ttf'); }  
@font-face { font-family: Avenir; font-weight: 600; src: url('/../../assets/fonts/AvenirNextCyr-Bold.ttf'); } 


body { 
     
    width:100%;
    height:100%;
    overflow-x: hidden; 
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: Avenir, sans-serif;
    position: relative;
 }  
 body.no-scroll {
     overflow: hidden; 
 }
 
 * {
     box-sizing: border-box; 
 }

 .container::after {
     content:'';
     display:block;
     clear: both;
 }
 .container {
     max-width:1270px;
     margin: 0 auto;
     display:block;
     padding:0 20px;
     position: relative;
 }



 
#webgl {
    max-width:100vw;
    max-height:100vh;
    overflow: hidden;
    /* position: absolute;
    top:0;
    left:0;
    z-index: 99;
    width:100vw;
    height:100vh; */
}

