.locations {
  border:1px solid black;
  &__wrapper {
    max-width:977px;
    padding:5px;
    margin:0 auto;
  }
  &__item {
    display:block;
    justify-content:space-between;
    border:1px solid lightgray;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom:10px;
    min-height:200px;
    @mixin atMedium {
      display:flex;
    }
    
  }
  &__img-container {
    flex-basis:33%;
   overflow: hidden;
    position: relative;
    img {
      position: absolute;
      left:0;
      top:0;
    }
  
  }

  &__text {
    flex-basis:66%;
    background-color:#e0e0eb;
    padding-left:10px;
    font-size:16px;
    @mixin atMedium {
      font-size:20px;
    }
    h5 {
      margin:0;
      padding:10px 0;
      font-size:18px;
    }
  }
  &__title {
    text-align:center;
    margin:0;
    padding:0;
    padding-bottom:24px;
    font-weight:500;
    color:#333;
  }

}