.beginning {
    width:100%;
    position: relative;
    z-index: 1;
}


.page-section {
    position: relative;
    display:flex;
    overflow: hidden;
    
    &__wrapper {
        width:100%;
        height:auto;
        margin: 0 auto;
    }
    &--testimonials {
        min-height:600px;
        background-color:#fefefe;
        padding-top:50px;
        @mixin atSmall {
            padding-top:25px;
        }
    }
    &--items {
        background-color:#ffcce6;
    }
    &--slider {
    position: relative;
    width:100%;
    z-index: 1;
    background-color:#9DCEAB; 
    
    }
    &--tastes {
       
    width:100%;
    position: relative;
    background-color:#fff3d5;
   
    overflow: hidden;
   
    }
    
    &__title {
        text-align:center;
        font-size:26px;
        position: relative;
        color:#333;
        font-weight:500;
        margin:0;
        padding-top:25px;
        padding-bottom:10px;
        @mixin atMedium {
            font-size:32px;
        }
    }
    &__subtitle {
          text-align:center;
        font-size:18px;
        position: relative;
        color:#333;
        font-weight:500;
        margin:0;
        padding-top:10px;
        padding-bottom:20px;
        @mixin atMedium {
            font-size:18px;
        }
    }
}