.beginning {
    width:100%;
    position: relative;
    z-index: 1;
}


.page-section {
    position: relative;
    display:flex;
    overflow: hidden;
    
    &__wrapper {
        width:100%;
        height:auto;
        margin: auto;
    }
    &--testimonials {
        min-height:600px;
        background-color:#fefefe;
        padding-top:100px;
        @mixin atSmall {
            padding-top:0;
        }
    }
    &--slider {
    position: relative;
    width:100%;
    z-index: 1;
    background-color:#9DCEAB; 
    
    }
    &--tastes {
       
    width:100%;
    position: relative;
    background-color:#fff3d5;
   
    overflow: hidden;
   
    }
    
    &__title {
        text-align:center;
        font-size:26px;
        position: relative;
        color:#333;
        font-weight:500;
        margin:0;
        padding-top:50px;
        padding-bottom:50px;
        @mixin atMedium {
            font-size:40px;
        }
    }
}