.site-footer {
    
    background-color:#3661A2;
    background-color:#222;
    width:100%;
    display:block;
    padding-top:30px;
    /* padding-bottom:30px; */
    &__social {
        list-style:none;
        margin:0; 
        padding:0; 
    }
    &__icon {
        width: 52px;
        height:52px;
        display:block;
        margin-right:10px;
        border:1px solid black;
        position: relative;
        z-index: 99;
      
    }
    &__social li {
        float:left;
        margin-right:10px;
    }
    &__social img {
        width:30px;
        height:auto;
    }
    &__last {
        width:100%;
        padding-top:20px;
        padding-bottom:20px;
        background-color:#333; 
        margin-top:30px;
        position: relative;
        /* background:url('../../images/kindajean.png'); */
        border-top:1px solid #333;
    }
    &__last::before {
        content:'';
        display:block;
        width:100%;
        background-color:#444;
        height:1px;
        position: absolute;
        top:0;
    }
    h2 {
        margin:0;
        padding:15px 0;
        color:lightgray;
        /* text-shadow:0 1px 0 black; */
    }
    &__nav {
        margin:0;
        padding:0;
        flex-basis:30%;
        position: relative;
        @mixin atMedium {
              border-right:1px solid #333;
        }
       
    }
    &__nav-social::after {
         content:'';
         display:block;
         position: absolute;
         width:1px;
         height:100%;
         right:0;
         top:0;
         @mixin atMedium {
             border-right:1px solid #181818;
         }

    }
    &__nav-social {
         margin:0;
        padding:0;
          /* border-right:1px solid #333; */
           flex-basis:30%;
           position: relative;
           @mixin atMedium {
                border-right:1px solid #333;
                padding-left:2rem;
           }
    }
     &__nav-social::before {

         content:'';
         display:none;
         position: absolute;
         width:1px;
         height:100%;
         border-right:1px solid #181818;
         left:-1px;
         top:0;
         @mixin atMedium {
             display:block;
         }
     }
    &__nav-wrapper {
        flex-basis:50%;
      
        @mixin atSmall {
            display:flex;
            flex-basis:60%;
        }
    }
    /* &__nav-wrapper > * {
        flex-basis:25%;
    }
    &__nav-wrapper > ul:first-child {
        flex-basis:20%;
        @mixin atSmall {
            flex-basis:25%;
        }
    } */
  
    &__copy {
        text-align:center;
        margin:0;
        padding:0;
        color:#fff;
         /* text-shadow:0 1px 0 black; */
         
    }
    &__nav-social li {
        list-style:none;
        padding-bottom:10px;
    }
    &__nav li {
        list-style:none;
        padding-bottom:10px;
    }
       &__nav-social li a {
        color:#fff;
        /* text-shadow:0 1px 0 black; */
        text-decoration:none;
        font-weight:400;
        font-size:16px;
        &:hover {
            text-decoration:underline;
        }
    }
    &__nav li a {
        color:#fff;
        /* text-shadow:0 1px 0 black; */
        text-decoration:none;
        font-weight:400;
        font-size:16px;
        &:hover {
            text-decoration:underline;
        }
    }
}

.icon {
    /* width:30px;
    height:30px; */
    display:block;
    opacity: 0.6;
    &:hover {
        opacity:1;
    }
}


.scroll-to-top {
    width:30px;
    height:30px;
    display:block; 
    position: absolute;
    right:30px;
    bottom:15px;
    cursor: pointer;
    &:hover {
        opacity:0.7;
    }
}