.tastes-wrapper {
    max-width:1200px;
    /* height:400px; */
    /* border:1px solid black; */
    margin: 0 auto; 
  
 
}
.tastes__item {
    width:150px;
    height:150px;
    /* border:1px solid black; */
    margin: 0 auto;
    margin-bottom:20px;
    position: relative;
    @mixin atMedium {  
        margin-bottom:0;
        border:1px solid black; 
    }
}
.tastes__item:nth-child(1) {
    background:url('../../images/lemon.png') center no-repeat; 
    background-size:contain; 
}

.tastes__item:nth-child(2) {
    background:url('../../images/watermelon.png') center no-repeat;
     background-size:contain;
    
}
.tastes__item:nth-child(3) {
    background:url('../../images/watermelon.png') center no-repeat;
     background-size:contain;
    
}  
